.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: hsl(var(--background));
}

.main {
  padding: 24px;
  flex: 1;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .main {
    padding: 16px;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 12px;
  }
}
